{% extends 'base.html.twig' %}

{% block title %}AllinOne - Listing des Mangas{% endblock %}

{% block body %}

<h2>Liste des Mangas</h2>
<div class="d-flex justify-content-end">
  <a class="btn btn-primary" href="{{ path('backoffice_mangas_add') }}">Ajouter</a>
</div>
  <table class="table table-hover mt-4">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Titre</th>
          <th scope="col">Date de sortie</th>
          <th scope="col">Sommaire</th>
          <th scope="col"></th>
      </tr>
  </thead>
<tbody>
  {% for manga in mangas|reverse %}
      <tr>
      <th scope="row">{{ manga.id }}</th>
      <td>{{manga.title }}</td>
      <td>{{manga.releaseDate }}</td>
      <td>{{ manga.summary}}</td>
      <td class="text-end">
          <a href="{{ path('backoffice_mangas_update', {"id": manga.id}) }}" class="btn btn-sm btn-warning">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Modifier
          </a>
          <a href="{{ path('backoffice_mangas_delete', {"id": manga.id}) }}" class="btn btn-sm btn-danger mediaDelete">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Supprimer
          </a>
      </td>
      </td>
  </tr>
  {% endfor %}
  </tbody>
</table>        

{% endblock %}