{% extends 'base.html.twig' %}

{% block title %}AllinOne - Listing des auteurs{% endblock %}

{% block body %}

<h2>Liste des auteurs</h2>
<div class="d-flex justify-content-end">
  <a class="btn btn-primary" href="{{ path('backoffice_authors_add') }}">Ajouter</a>
</div>
  <table class="table table-hover mt-4">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Nom complet</th>
          <th scope="col">Alias</th>
          <th scope="col">position</th>
          <th scope="col"></th>
      </tr>
  </thead>
<tbody>
  {% for author in authors|sort((a, b) => a.fullname <=> b.fullname) %}
      <tr>
      <th scope="row">{{ author.id }}</th>
      <td>{{author.fullname }}</td>
      <td>{{ author.alias}}</td>
      <td>{{ author.position}}</td>
      <td class="text-end">
          <a href="{{ path('backoffice_authors_update', {"id": author.id}) }}" class="btn btn-sm btn-warning">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Modifier
          </a>
          <a href="{{ path('backoffice_authors_delete', {"id": author.id}) }}" class="btn btn-sm btn-danger mediaDelete">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Supprimer
          </a>
      </td>
      </td>
  </tr>
  {% endfor %}
  </tbody>
</table>        

{% endblock %}