{% extends 'base.html.twig' %}

{% block title %}Season Add{% endblock %}

{% block body %}
<h1>Ajout d'une saison</h1>
    {{ form_start(form) }}
        {{ form_row(form.season_number) }}
        {{ form_row(form.nb_episodes) }}
        {{ form_row(form.media) }}
        <div class="text-center">
        <button class="btn btn-primary">Envoyer</button>
    </div>
{{ form_end(form) }}
{% endblock %}