{% extends 'base.html.twig' %}

{% block title %}AllinOne - Listing des saisons{% endblock %}

{% block body %}

<h2>Liste des saisons</h2>
<div class="d-flex justify-content-end">
  <a class="btn btn-primary" href="{{ path('backoffice_seasons_add') }}">Ajouter</a>
</div>
  <table class="table table-hover mt-4">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Numéro de la saison</th>
          <th scope="col">Nombre d'épisodes</th>
          <th scope="col">Nom du média</th>
          <th scope="col"></th>
      </tr>
  </thead>
<tbody>
  {% for season in seasons|reverse %}
      <tr>
      <th scope="row">{{ season.id }}</th>
      <td>{{season.seasonNumber }}</td>
      <td>{{season.nbEpisodes }}</td>
      <td>{{season.media }}</td>
      <td class="text-end">
          <a href="{{ path('backoffice_seasons_update', {"id": season.id}) }}" class="btn btn-sm btn-warning">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Modifier
          </a>
          <a href="{{ path('backoffice_seasons_delete', {"id": season.id}) }}" class="btn btn-sm btn-danger mediaDelete">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Supprimer
          </a>
      </td>
      </td>
  </tr>
  {% endfor %}
  </tbody>
</table>        

{% endblock %}