{% extends 'base.html.twig' %}

{% block title %}AllinOne - Listing des plateformes{% endblock %}

{% block body %}

<h2>Liste des plateformes</h2>
<div class="d-flex justify-content-end">
  <a class="btn btn-primary" href="{{ path('backoffice_platforms_add') }}">Ajouter</a>
</div>
  <table class="table table-hover mt-4">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Nom de la plateforme</th>
          <th scope="col"></th>
      </tr>
  </thead>
<tbody>
  {% for platform in platforms|reverse %}
      <tr>
      <th scope="row">{{ platform.id }}</th>
      <td>{{platform.name }}</td>
      <td class="text-end">
          <a href="{{ path('backoffice_platforms_update', {"id": platform.id}) }}" class="btn btn-sm btn-warning">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Modifier
          </a>
          <a href="{{ path('backoffice_platforms_delete', {"id": platform.id}) }}" class="btn btn-sm btn-danger mediaDelete">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Supprimer
          </a>
      </td>
      </td>
  </tr>
  {% endfor %}
  </tbody>
</table>        

{% endblock %}